.four_header {
  width: 100%;
  background-color: white;
  align-items: center;
  color: #999999;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }
  .four_header .three_sp {
    font-size: 0.36rem;
    color: black; }
  .four_header .header_div {
    display: flex;
    justify-content: space-between; }
  .four_header .header_logo {
    margin: .16rem 0 .18rem .16rem; }
  .four_header .header_right {
    margin: .16rem .16rem .18rem 0; }
    .four_header .header_right .header_sp1 {
      font-size: 0.45rem; }
    .four_header .header_right .header_sp2 {
      font-size: 0.22rem; }

.fourteen_header {
  width: 100%;
  font-size: 0.28rem;
  border-top: 1px solid #EAEAEA;
  padding: 0.36rem 0.2rem; }
  .fourteen_header .header_sp2 {
    padding: 0.05rem;
    border-radius: 10px;
    background: #38C993;
    color: white;
    margin-left: 0.1rem; }
  .fourteen_header .header_div2 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem; }
  .fourteen_header .header_sp4 {
    font-size: 0.24rem;
    color: #999999;
    margin-left: 0.1rem; }
  .fourteen_header .header_sp3 {
    margin-left: 0.3rem; }
  .fourteen_header .header_div3 {
    display: flex;
    margin-top: 0.3rem;
    justify-content: space-between; }
    .fourteen_header .header_div3 div {
      width: 50%;
      text-align: center;
      line-height: 0.7rem;
      height: 0.7rem;
      border: 1px solid #EAEAEA; }
    .fourteen_header .header_div3 .header_div4 {
      color: #4DB2F6; }
    .fourteen_header .header_div3 .header_div5 {
      color: #76D9B4; }

.fourteen_main {
  background: #F4F4F4;
  font-size: 0.28rem;
  margin-bottom: 0.3rem;
  border-top: 0.36rem solid #F4F4F4; }
  .fourteen_main li {
    width: 100%;
    margin-bottom: 0.3rem; }
    .fourteen_main li .fourteen_div1 {
      margin-bottom: 0.36rem;
      padding-left: 0.2rem;
      display: flex;
      justify-content: space-between; }
      .fourteen_main li .fourteen_div1 div {
        width: 50%; }
        .fourteen_main li .fourteen_div1 div .fourteen_sp1 {
          text-decoration: underline;
          color: #39C893; }
        .fourteen_main li .fourteen_div1 div .fourteen_sp2 {
          color: #999999; }
    .fourteen_main li .fourteen_div2 {
      width: 100%;
      padding-left: 0.2rem;
      display: flex;
      justify-content: space-between;
      position: relative; }
      .fourteen_main li .fourteen_div2 .fourteen_left {
        width: 5%;
        text-align: center; }
        .fourteen_main li .fourteen_div2 .fourteen_left .fourteen_sp3 {
          width: 0.45rem;
          border-radius: 50px;
          height: 0.45rem;
          background: #39C893;
          color: white;
          display: inline-block; }
        .fourteen_main li .fourteen_div2 .fourteen_left .fourteen_div3 {
          width: 0.1rem;
          height: 7.3rem;
          border-right: 1px solid #DCDCDC;
          padding-left: 0.14rem;
          position: absolute;
          top: 0.45rem;
          left: 0.28rem; }
        .fourteen_main li .fourteen_div2 .fourteen_left .fourteen_div4 {
          width: 0.45rem;
          border-top: 1px solid #39C893;
          position: absolute;
          left: 0.676rem;
          top: 0.225rem; }
      .fourteen_main li .fourteen_div2 .fourteen_div7 {
        width: 90.2%;
        font-size: 0.28rem;
        color: #666666; }
        .fourteen_main li .fourteen_div2 .fourteen_div7 .fourteen_sp4 {
          height: 0.6rem;
          background: #DCDCDC;
          color: #666666;
          padding: 0.1rem; }
        .fourteen_main li .fourteen_div2 .fourteen_div7 .fourteen_sp5 {
          height: 0.6rem;
          padding: 0.1rem;
          color: white;
          background: #39C893;
          margin-left: -10px; }
        .fourteen_main li .fourteen_div2 .fourteen_div7 .fourteen_sp6 {
          height: 0.6rem;
          padding: 0.1rem;
          color: white;
          background: #FEB605; }
        .fourteen_main li .fourteen_div2 .fourteen_div7 .fourteen_sp7 {
          margin-top: 0.3rem;
          margin-bottom: 0.3rem; }
        .fourteen_main li .fourteen_div2 .fourteen_div7 .fourteen_ul {
          width: 100%;
          padding-right: 0.2rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          .fourteen_main li .fourteen_div2 .fourteen_div7 .fourteen_ul img {
            width: 33%;
            height: 3rem;
            margin-bottom: 0.06rem; }
          .fourteen_main li .fourteen_div2 .fourteen_div7 .fourteen_ul .fourteen_tu {
            width: 100%;
            height: 6.4rem;
            margin-bottom: 0.3rem; }

.zi {
  width: 100%;
  padding: 0.36rem;
  font-size: 0.28rem;
  color: #333333;
  background: white;
  text-indent: 2em; }

.footer {
  width: 100%;
  background: white; }
  .footer .fuwu {
    width: 100%;
    font-size: 0.26rem;
    text-align: center;
    padding-bottom: .3rem;
    padding-top: 0.1rem; }
  .footer .kefu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .footer .kefu li {
      width: 25%;
      text-align: center;
      font-size: 0.28rem; }

.footer_nav {
  width: 100%;
  height: 1.06rem;
  background: #282828;
  opacity: 80%;
  display: flex;
  justify-content: space-between; }
  .footer_nav .footer_b {
    display: flex;
    font-size: 32px; }
    .footer_nav .footer_b .footer_b1 p {
      color: #eed215; }
    .footer_nav .footer_b .footer_b1 span {
      color: white; }
  .footer_nav .footer_c {
    width: 1.75rem;
    height: 0.5rem;
    font-size: 0.24rem;
    background: #feb605;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    align-self: center; }

.tu {
  width: 100%; }

/*# sourceMappingURL=fourteen.css.map */
